* {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  height: 87px;
  background-color: #ffff;
  width: 100%;
  color: white;
}

header img {
  width: 98px;
  height: 86px;
}

header ul {
  display: flex;
  list-style: none;
  align-items: center;
  padding-right: 15px;
}

header ul a {
  color: white;
  text-decoration: none;
  font-size: 22px;
  cursor: pointer;
}

header ul a:hover {
  color: bisque;
}

li {
  font-size: 35px;
  margin-left: 20px;
}

.boton1 {
  height: 35px;
  border: 2px solid;
  cursor: pointer;
  width: auto;
  margin-bottom: 10px;
}

.boton1:hover {
  color: white;
}
