*{
    margin: 0;
}

header{
    display: flex;
    justify-content: space-around;
    height: 80px;
    background-color: black;
    width: 100%;
    color: white;
}

header img{
    height: 80px;
    margin-left: -200px;
}

header ul{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-right: -100px;
}

header ul a{
    color: white;
    text-decoration: none;
    font-size: 22px;
    cursor: pointer;
}

header ul a:hover{
    color: bisque;
}


li{
    
    margin-left: 20px;
}