.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #d2f2c9;
  height: 503px;
  color: #d8a0d9;
}

.intro h1 {
  font-family: brush;
  margin-top: 15px;
  font-size: 80px;
  font-weight: bold;
}

div {
  background-size: cover;
}

.catalogo {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  justify-content: center;
  background-color: #ec008c, #fc6767;
  margin-bottom: 80px;
}

.producto {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid rgb(178, 174, 174);
}

.boton {
  width: 150px;
  margin: 30px auto 0 auto;
  height: 4em;
  border-radius: 20px;
  cursor: pointer;
  background-color: #2ec9d0;
  color: antiquewhite;
}

.boton:hover {
  color: antiquewhite;
}

.texto {
  background-color: black;
  color: white;
  text-align: center;
  background-image: linear-gradient(#4ac6cdc3, #56c6cc, #50c4cab5);
  height: 38px;
  padding: 7px 0px 0px;
}

@font-face {
  font-family: Brush;
  src: url("src/Fonts/Regular Brush.otf");
}

.producto--imagen {
  height: 200px;
  object-fit: cover;
}

.producto--descripcion {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.producto--textos {
  padding: 5px;
}
