.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #d2f2c9;
  height: 470px;
  color: #d8a0d9;
}

.intro h1 {
  font-family: brush;
  margin-top: 15px;
  font-size: 80px;
  font-weight: bold;
}

div {
  background-size: cover;
}

.catalogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ec008c, #fc6767;
  height: 900px;
  margin-bottom: 80px;
}

.producto {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px;
  box-sizing: border-box;
  height: 180px;
  width: 180px;
}

.boton {
  width: 150px;
  margin: 30px auto 0 auto;
  height: 4em;
  border-radius: 20px;
  cursor: pointer;
  background-color: #2ec9d0;
  color: antiquewhite;
}

.boton:hover {
  color: antiquewhite;
}

.texto {
  background-color: black;
  color: white;
  text-align: center;
  background-image: linear-gradient(#4ac6cdc3, #56c6cc, #50c4cab5);
  height: 38px;
  padding: 7px 0px 0px;
}

@font-face {
  font-family: Brush;
  src: url("src/Fonts/Regular Brush.otf");
}
