body{
    background-image: url('../IMG/klipartz.com\ \(1\).png');
}

h1{
    font-family: Brush;
    font-size: 50px;
    text-align: center;
}

.Text-main{
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

h2{
    font-size: 25px;
    font-family: Brush;
    margin-left: 100px;
    margin-right: 100px;
}

.Text{
    margin-left: 100px;
    margin-right: 100px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}



@font-face {
    font-family: Brush;
    src: url("../Fonts/Regular\ Brush.otf");
}